*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    --cPri: #1A1F2A;
    --cSeg: #916FFF;
    --cTer: #FFFFFF;
    --cExtra: #161824;
}
main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cPri);
}

/* container do login */
#container{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cTer);
}
#container #login-text{
    font-size: 40px;
    font-weight: 800;
    color: var(--cSeg);   
}
#container #links{
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#container #links img{
    height: 35px;
}